.feed {
  overflow: auto;
  height: 100%;
}

.imageBox {
  font: 0/0 a;
  width: 100%;
  margin-bottom: 12px;
  background: black;
}

.image {
  width: 100%;
}

.spinner {
  margin-bottom: 120px;
  text-align: center;
}
