:root {
  --search-height: 60px;
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 100vh;
  overflow: hidden;
  background: lightgrey;
}

.search {
  height: var(--search-height);
  transition: transform 0.3s;
}

.feed {
  flex: 1;
  height: calc(100vh - var(--search-height));
}

.empty .search {
  flex: 1;
  height: 100vh;
  transform: translateY(50%);
}

.empty .feed {
  height: 0;
  flex: 0 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
