:root {
  --search-height: 60px;
}

.app {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 100vh;
  overflow: hidden;
}

.search {
  position: relative;
  height: var(--search-height);
  margin: 12px 0;
  transition: transform 0.3s;
}

.feed {
  flex: 1;
  height: calc(100vh - var(--search-height));
}

.empty .search {
  flex: 1;
  height: 100vh;
  transform: translateY(50%);
}

.empty .feed {
  height: 0;
  flex: 0 1;
}

.loading .feed {
  opacity: 0.3;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%) translateY(150%);
}
